*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 28, 28);
    min-height: 100vh;
}


header {
    min-height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size:4.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
}
header h1::selection {
    background-color: rgb(255, 255, 23);
}


form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin:0 auto;
}

form #text {
    min-width: 60%;
    height:2.5rem;
    border-radius:5px;
    font-size:1.3rem;
    padding:0.5rem;
    margin:1.5rem 1rem;
}

form #submit {
    width:5rem;
    height:2rem;
    border:2px solid gray;
    border-radius:5px;
    cursor:pointer;
    font-size:1.3rem;
    transition:all 400ms ease;
    outline:none;
}
form #submit:hover {
    background:rgb(0, 0, 0);
    color:whitesmoke;
    border:2px solid white;
}

.container {
    background:rgba(56, 54, 54, 0.5);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div {
    background:whitesmoke;
    height:8rem;
    width:50rem;
    border:1px solid gray;
    border-radius:5px;
}
.container div p {
    font-size:2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
.container div button {
    background:transparent;
    border:none;
    outline:none;
}
.container div button i {
    font-size:1.5rem;
    margin:0.5rem;
    cursor:pointer; 
    color:rgb(95, 95, 95);
}

